.b-menu {
  padding-top: 45px;
}
.b-menu__item {
  font-family: 'Proxima-Regular';
  font-size: 20px;
  margin-right: 35px;
  float: left;
}
.b-menu__item a {
  text-decoration: none;
  color: #fff;
}
.b-menu__item_active_yes {
  color: #cc2b27;
}
