.b-promo {
  width: 780px;
  margin: auto;
  padding: 0 20px;
  color: #fff;
  margin-top: 70px;
}
.b-promo__title {
  font-family: 'RistrettoPro-Regular';
  font-size: 109px;
  line-height: 90px;
  text-transform: uppercase;
}
.b-promo__copyright {
  font-size: 25px;
  text-transform: uppercase;
  position: absolute;
  line-height: 25px;
  top: 0;
  left: 625px;
}
.b-promo__desc {
  font-size: 24px;
  line-height: 30px;
  font-family: 'PT Serif', serif;
  margin-top: 16px;
  margin-bottom: 21px;
}
.b-promo__title-row_num_1 {
  margin-left: -35px;
  position: relative;
}
.b-promo__title-row_num_2 {
  margin-left: -7px;
}
