// font analogs list http://my.opera.com/area42/blog/css-font-matching-windows-mac-and-linux
// for more fonts see http://www.apaddedcell.com/web-fonts , http://www.ampsoft.net/webdesign-l/WindowsMacFonts.html

$fontArial       = Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
//$fontCourier     = "Courier New", Courier, FreeMono, "Nimbus Mono L", "Liberation Mono", monospace;
//$fontGeorgia     = Georgia, "Bitstream Charter", "Century Schoolbook L", "Liberation Serif", Times, serif;
//$fontLucidia     = "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Lucida, sans-serif;
//$fontLucidiaMono = "Lucida Console", Monaco, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", monospace;
//$fontPalatino    = Palatino, "Palatino Linotype", Palladio, "URW Palladio L", "Book Antiqua", "Liberation Serif", Times, serif;
//$fontTahoma      = Tahoma, Geneva, "DejaVu Sans Condensed", sans-serif;
//$fontTimes       = "Times New Roman", Times, "Nimbus Roman No9 L", "FreeSerif", "Liberation Serif", serif;
//$fontVerdana     = Verdana, "Bitstream Vera Sans", "DejaVu Sans", "Liberation Sans", Geneva, sans-serif;

//$fontSerif = $fontGeorgia;
$fontSans  = $fontArial;
//$fontMono  = $fontCourier;

$verticalRythmBase = 20px;

$baseFontSize   = 13px;
$baseFontFamily = $fontSans;
$baseLineHeight = 17px;

//$baseLineHeight = (20px/$baseFontSize)em;

$baseTextColor  = #2a2a2a;
$baseBackground = #fff;
$baseHrColor    = #ccc;

$selectionBG = #b3d4fc;

$colorDarkBlue = #37446d;
$colorGray = #888;
$baseColorRed = #d93b2b;


// Grid

$gridColumnWidth = 176px;
$gridGutterWidth = 15px;

$gridLineWidth = 940px
// mixin for crearfix


gridColumns( $count )
    width: $gridColumnWidth * $count + $gridGutterWidth * ( $count - 1 );
    margin-left: $gridGutterWidth;
    float: left;
    min-height: 1px;
    &:first-child {
      margin-left: 0;
    }

gridLine($count = 5)
  width: $gridColumnWidth * $count + $gridGutterWidth * ( $count - 1 );
  margin-left: auto;
  margin-right: auto;
  clearfix();

bgi($p)
  background url($b+$p) no-repeat;

pseudo($p = 0)
  content: "";
  position: absolute;
  left: $p;
  right: $p;
  top: $p;
  bottom: $p;

shadow($a = 'bottom')
  padding-bottom: 5px;
  background: url('i-shadow.png') repeat-x 0 0
  if $a == 'bottom' 
    background-position: 0 100%;
