.b-header {
  width: 100%;
  height: 100%;
  background-image: url("../blocks/b-header/bg.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: top center;
}
.b-header__top {
  width: 870px;
  margin: auto;
  font-family: 'Proxima-Regular';
  position: relative;
  left: -25px;
}
.b-header__top:after {
  display: block;
  content: '';
  clear: both;
}
.b-header__contacts {
  float: left;
  color: #fff;
  font-size: 23px;
  line-height: 16px;
}
