.b-button_color_blue {
	font-size: 15px;
	line-height: 42px;
	font-family: 'PT Serif', serif;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #4b88d8;
	display: inline-block;
	color: #fff;
	padding: 0 20px;
	cursor: pointer;
}