@font-face {
  font-family: 'Proxima-Regular';
  font-style: "normal";
  src: url("../fonts/Proxima-Regular/Proxima-Regular.eot");
  src: url("../fonts/Proxima-Regular/Proxima-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/Proxima-Regular/Proxima-Regular.woff") format('woff'), url("../fonts/Proxima-Regular/Proxima-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'RistrettoPro-Regular';
  font-style: "normal";
  src: url("../fonts/RistrettoPro-Regular/RistrettoPro-Regular.eot");
  src: url("../fonts/RistrettoPro-Regular/RistrettoPro-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/RistrettoPro-Regular/RistrettoPro-Regular.woff") format('woff'), url("../fonts/RistrettoPro-Regular/RistrettoPro-Regular.ttf") format('truetype');
}
