/*Eric Meyers CSS reset  */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display definitions */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
/* Base elements style */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
  color: #2a2a2a;
}
body {
  font-size: 13px;
  line-height: 17px;
  background: #fff;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/* Links */
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
/* Embedded content */
img {
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
/* Lists */
ul {
  list-style: none;
}
/* Forms */
legend {
  white-space: normal;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}
button,
input {
  line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
/* Typography */
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn,
em,
i {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 17px 0;
  padding: 0;
}
pre,
code,
kbd,
samp {
  font-family: $fontMono;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

@font-face {
  font-family: 'Proxima-Regular';
  font-style: "normal";
  src: url("../fonts/Proxima-Regular/Proxima-Regular.eot");
  src: url("../fonts/Proxima-Regular/Proxima-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/Proxima-Regular/Proxima-Regular.woff") format('woff'), url("../fonts/Proxima-Regular/Proxima-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'RistrettoPro-Regular';
  font-style: "normal";
  src: url("../fonts/RistrettoPro-Regular/RistrettoPro-Regular.eot");
  src: url("../fonts/RistrettoPro-Regular/RistrettoPro-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/RistrettoPro-Regular/RistrettoPro-Regular.woff") format('woff'), url("../fonts/RistrettoPro-Regular/RistrettoPro-Regular.ttf") format('truetype');
}

.b-body {
  height: 100%;
}
html {
  height: 100%;
}

.b-button_color_blue {
  font-size: 15px;
  line-height: 42px;
  font-family: 'PT Serif', serif;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #4b88d8;
  display: inline-block;
  color: #fff;
  padding: 0 20px;
  cursor: pointer;
}

.b-header {
  width: 100%;
  height: 100%;
  background-image: url("../blocks/b-header/bg.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: top center;
}
.b-header__top {
  width: 870px;
  margin: auto;
  font-family: 'Proxima-Regular';
  position: relative;
  left: -25px;
}
.b-header__top:after {
  display: block;
  content: '';
  clear: both;
}
.b-header__contacts {
  float: left;
  color: #fff;
  font-size: 23px;
  line-height: 16px;
}

.b-logo {
  width: 36px;
  height: 29px;
  display: block;
  background: url("../blocks/b-logo/logo.png") no-repeat;
  float: left;
  margin-top: 30px;
  margin-right: 35px;
}

.b-menu {
  padding-top: 45px;
}
.b-menu__item {
  font-family: 'Proxima-Regular';
  font-size: 20px;
  margin-right: 35px;
  float: left;
}
.b-menu__item a {
  text-decoration: none;
  color: #fff;
}
.b-menu__item_active_yes {
  color: #cc2b27;
}

.b-page {
  height: 100%;
}

.b-promo {
  width: 780px;
  margin: auto;
  padding: 0 20px;
  color: #fff;
  margin-top: 70px;
}
.b-promo__title {
  font-family: 'RistrettoPro-Regular';
  font-size: 109px;
  line-height: 90px;
  text-transform: uppercase;
}
.b-promo__copyright {
  font-size: 25px;
  text-transform: uppercase;
  position: absolute;
  line-height: 25px;
  top: 0;
  left: 625px;
}
.b-promo__desc {
  font-size: 24px;
  line-height: 30px;
  font-family: 'PT Serif', serif;
  margin-top: 16px;
  margin-bottom: 21px;
}
.b-promo__title-row_num_1 {
  margin-left: -35px;
  position: relative;
}
.b-promo__title-row_num_2 {
  margin-left: -7px;
}

.b-section {
  width: 100%;
  height: 100%;
}
.b-section__wrapper {
  min-width: 960px;
  max-width: 1160px;
  margin: auto;
  padding: 0 20px;
}
